html {
    height: 100%;
}
.container {
    max-width: 680px;
    padding: 15px;
}

.footer{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: gray;
    left: 0;
    bottom: 0;   
}
